body {
    display: flex;
    justify-content: center;
    font-family: andale mono, monospace;
    color: rgb(226, 166, 186);
  }
  h1 {
    font-size: 60px;
  }
  
  .list-group {
    width: 1000px;
  }
  
  .list-group-input {
    border: 0cap;
    width: 100%;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  